<a href="https://colab.research.google.com/github/Maximiliano-alt/Intelligent-Systems/blob/master/PandasMandatoryPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EXERCISE 1

Show the first 10 samples of the dataset.

In [53]:
import pandas as pd
#Connect to Google Drive
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/bmw.csv')
print(df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
           model  year  price transmission  mileage fuelType  tax   mpg  \
0       5 Series  2014  11200    Automatic    67068   Diesel  125  57.6
1       6 Series  2018  27000    Automatic    14827   Petrol  145  42.8
2       5 Series  2016  16000    Automatic    62794   Diesel  160  51.4
3       1 Series  2017  12750    Automatic    26676   Diesel  145  72.4
4       7 Series  2014  14500    Automatic    39554   Diesel  160  50.4
...          ...   ...    ...          ...      ...      ...  ...   ...
10776         X3  2016  19000    Automatic    40818   Diesel  150  54.3
10777   5 Series  2016  14600    Automatic    42947   Diesel  125  60.1
10778   3 Series  2017  13100       Manual    25468   Petrol  200  42.8
10779   1 Series  2014   9930    Automatic    45000   Diesel   30  64.2
10780         X1  2017  15981    Automatic    59432   Diesel  125  57.6

       engineSize
0             2.0
1             2.0
2             3.0
3             1.5
4             3.0
...           ...
10776         2.0
10777         2.0
10778         2.0
10779         2.0
10780         2.0

[10781 rows x 9 columns]

EXERCISE 2

Obtain the data series corresponding to the year attribute, and then obtain the data type and the number of samples of such series.

In [ ]:
year_series = df['year']

print("Data frame:\n", year_series)

Data frame:
 0        2014
1        2018
2        2016
3        2017
4        2014
         ...
10776    2016
10777    2016
10778    2017
10779    2014
10780    2017
Name: year, Length: 10781, dtype: int64

EXERCISE 3

Obtain the data series corresponding to the mileage attribute, and then select the samples whose position in the series are multiples of 7.

In [ ]:
mileage_series = df['mileage']
selected_samples = mileage_series[mileage_series.index % 7 == 0]
print( selected_samples)

0        67068
7        10401
14       19057
21       78957
28       96213
         ...
10752    41500
10759    54008
10766    54987
10773    60372
10780    59432
Name: mileage, Length: 1541, dtype: int64

EXERCISE 4

Obtain the data series corresponding to the mileage attribute, and then select randomly 40% of the samples of the series.

In [ ]:
selected_samples = mileage_series.sample(frac=0.4)
print(selected_samples)

6736      6370
1046      8524
10343    32383
894       7390
8923     93240
         ...
6547        10
8139     94938
10642    11476
636       5203
6557     16127
Name: mileage, Length: 4312, dtype: int64

EXERCISE 5

Obtain the data series corresponding to the mileage attribute, and then select the samples with a value lower than 20000 of that series.

In [ ]:
selected_samples = mileage_series[mileage_series < 20000]
print(selected_samples)

1        14827
7        10401
14       19057
15       16570
39        6522
         ...
10740     3551
10741     2784
10742     5634
10743    13165
10755    13955
Name: mileage, Length: 5610, dtype: int64

EXERCISE 6

Obtain the data series corresponding to the mpg attribute, and then sort the samples of the series.

In [ ]:

mpg_series = df['mpg']
sorted_samples = mpg_series.sort_values()
print(sorted_samples)

Muestras ordenadas:
6965      5.5
6172      5.5
6132      5.5
6198      5.5
2116      5.5
        ...
7299    470.8
3628    470.8
6070    470.8
2352    470.8
7347    470.8
Name: mpg, Length: 10781, dtype: float64

EXERCISE 7

Compute the mean, the standard deviation, the maximum and the minimum of the engineSize attribute.

In [ ]:

mean_engineSize = df['engineSize'].mean()


std_dev_engineSize = df['engineSize'].std()

max_engineSize = df['engineSize'].max()

min_engineSize = df['engineSize'].min()


print("Mean engineSize:", mean_engineSize)
print("Standard Deviation de engineSize:", std_dev_engineSize)
print("Max engineSize:", max_engineSize)
print("Min engineSize:", min_engineSize)

Mean engineSize: 2.1677673685186902
Standard Deviation de engineSize: 0.5520537772398375
Max engineSize: 6.6
Min engineSize: 0.0

EXERCISE 8

Obtain the number of rows and columns of the dataset, and the third sample starting from the end.

In [ ]:
num_rows, num_cols = df.shape
print("\nNumber of rows:", num_rows)
print("Number of columns:", num_cols)

third_from_end = df.iloc[-3] # Purely integer-location based indexing for selection by position.
print("\nThird Sample starting from the end:")
print(third_from_end)

Number of rows: 10781
Number of columns: 9

Third Sample starting from the end:
model            3 Series
year                 2017
price               13100
transmission       Manual
mileage             25468
fuelType           Petrol
tax                   200
mpg                  42.8
engineSize            2.0
Name: 10778, dtype: object

EXERCISE 9

Extract the mileage, price and mpg attributes to a new DataFrame, and then choose 20% of the samples at random.

In [2]:
selected_columns = ['mileage', 'price', 'mpg']
new_df = df[selected_columns]
print("\nNew DataFrame using 'mileage', 'price' y 'mpg':")
print(new_df.head())

random_sample_df = new_df.sample(frac=0.2)
print("\nRandom Sample 20%:")
print(random_sample_df)

New DataFrame using 'mileage', 'price' y 'mpg':
   mileage  price   mpg
0    67068  11200  57.6
1    14827  27000  42.8
2    62794  16000  51.4
3    26676  12750  72.4
4    39554  14500  50.4

Random Sample 20%:
       mileage  price   mpg
1645       123  34368  34.0
5209      2500  35995  62.8
1688       123  21773  49.6
4223      6552  36480  53.3
3808       101  38000  49.6
...        ...    ...   ...
10040    85000   7740  83.1
9589     29041  15999  65.7
7346     24862  15685  64.2
1827      7311  27280  42.2
9637     46003  16895  51.4

[2156 rows x 3 columns]

EXERCISE 10
Obtain the samples whose value of the mileage attribute is lower than 10000 and the value of the mpg attribute is higher than 40.

In [17]:
filtered_df = df[(df['mileage'] < 10000) & (df['mpg'] > 40)]

print("\nSamples with 'mileage' < 10000 y 'mpg' > 40:")
print(filtered_df)

Samples with 'mileage' < 10000 y 'mpg' > 40:

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
131,1 Series,2017,14600,Automatic,5615,Petrol,145,58.9,1.5
148,1 Series,2016,13700,Manual,8719,Petrol,125,52.3,1.5
153,1 Series,2016,13750,Automatic,8707,Petrol,30,55.5,1.5
166,X1,2020,31498,Semi-Auto,1560,Diesel,145,60.1,2.0
167,2 Series,2020,27998,Manual,1580,Petrol,150,43.5,1.5
...,...,...,...,...,...,...,...,...,...
10713,3 Series,2020,23899,Automatic,1255,Petrol,150,47.9,2.0
10739,3 Series,2019,23987,Automatic,1049,Petrol,150,47.9,2.0
10740,3 Series,2019,23454,Automatic,3551,Petrol,150,47.9,2.0
10741,3 Series,2019,23599,Automatic,2784,Petrol,145,47.9,2.0
10742,3 Series,2019,23499,Automatic,5634,Petrol,145,47.9,2.0

EXERCISE 11: Modify the values of the model attribute so that the " x Series" values are changed to "Series x", where x is a number between 1 and 9.

In [55]:

df['model'] = df['model'].str.replace(r'(\d) Series', r'Series \1', regex=True)
print(df)

           model  year  price transmission  mileage fuelType  tax   mpg  \
0       Series 5  2014  11200    Automatic    67068   Diesel  125  57.6
1       Series 6  2018  27000    Automatic    14827   Petrol  145  42.8
2       Series 5  2016  16000    Automatic    62794   Diesel  160  51.4
3       Series 1  2017  12750    Automatic    26676   Diesel  145  72.4
4       Series 7  2014  14500    Automatic    39554   Diesel  160  50.4
...          ...   ...    ...          ...      ...      ...  ...   ...
10776         X3  2016  19000    Automatic    40818   Diesel  150  54.3
10777   Series 5  2016  14600    Automatic    42947   Diesel  125  60.1
10778   Series 3  2017  13100       Manual    25468   Petrol  200  42.8
10779   Series 1  2014   9930    Automatic    45000   Diesel   30  64.2
10780         X1  2017  15981    Automatic    59432   Diesel  125  57.6

       engineSize
0             2.0
1             2.0
2             3.0
3             1.5
4             3.0
...           ...
10776         2.0
10777         2.0
10778         2.0
10779         2.0
10780         2.0

[10781 rows x 9 columns]

Exercise 12:

Insert a new sample with the following values: model=" 3 Series", year=2023, price = 22572, transmission = "Automatic", mileage = 74120, fuelType = "Diesel", tax = 160, mpg = 58.4, engineSize = 2.0

In [56]:
new_sample = {
    'model': '3 Series',
    'year': 2023,
    'price': 22572,
    'transmission': 'Automatic',
    'mileage': 74120,
    'fuelType': 'Diesel',
    'tax': 160,
    'mpg': 58.4,
    'engineSize': 2.0
}
new_df = pd.DataFrame([new_sample])
df = pd.concat([df, new_df], ignore_index=True)
print(df)

           model  year  price transmission  mileage fuelType  tax   mpg  \
0       Series 5  2014  11200    Automatic    67068   Diesel  125  57.6
1       Series 6  2018  27000    Automatic    14827   Petrol  145  42.8
2       Series 5  2016  16000    Automatic    62794   Diesel  160  51.4
3       Series 1  2017  12750    Automatic    26676   Diesel  145  72.4
4       Series 7  2014  14500    Automatic    39554   Diesel  160  50.4
...          ...   ...    ...          ...      ...      ...  ...   ...
10777   Series 5  2016  14600    Automatic    42947   Diesel  125  60.1
10778   Series 3  2017  13100       Manual    25468   Petrol  200  42.8
10779   Series 1  2014   9930    Automatic    45000   Diesel   30  64.2
10780         X1  2017  15981    Automatic    59432   Diesel  125  57.6
10781   3 Series  2023  22572    Automatic    74120   Diesel  160  58.4

       engineSize
0             2.0
1             2.0
2             3.0
3             1.5
4             3.0
...           ...
10777         2.0
10778         2.0
10779         2.0
10780         2.0
10781         2.0

[10782 rows x 9 columns]

Exercise 13:

Convert the DataFrame into a numpy ndarray and print out the data type of the obtained ndarray.

In [44]:
array = df.to_numpy()
print(array)
print(type(array))

[[' Series 5' 2014 11200 ... 125 57.6 2.0]
 [' Series 6' 2018 27000 ... 145 42.8 2.0]
 [' Series 5' 2016 16000 ... 160 51.4 3.0]
 ...
 [' X1' 2017 15981 ... 125 57.6 2.0]
 ['3 Series' 2023 22572 ... 160 58.4 2.0]
 ['3 Series' 2023 22572 ... 160 58.4 2.0]]
<class 'numpy.ndarray'>

Exercise 14:

Compute for each sample the average mileage per year.

In [58]:
from datetime import datetime
update_year = datetime.now().year
df['years_used'] = update_year - df['year']
df['average_mileage_per_year'] = df['mileage'] / df['years_used']
print(df)

           model  year  price transmission  mileage fuelType  tax   mpg  \
0       Series 5  2014  11200    Automatic    67068   Diesel  125  57.6
1       Series 6  2018  27000    Automatic    14827   Petrol  145  42.8
2       Series 5  2016  16000    Automatic    62794   Diesel  160  51.4
3       Series 1  2017  12750    Automatic    26676   Diesel  145  72.4
4       Series 7  2014  14500    Automatic    39554   Diesel  160  50.4
...          ...   ...    ...          ...      ...      ...  ...   ...
10777   Series 5  2016  14600    Automatic    42947   Diesel  125  60.1
10778   Series 3  2017  13100       Manual    25468   Petrol  200  42.8
10779   Series 1  2014   9930    Automatic    45000   Diesel   30  64.2
10780         X1  2017  15981    Automatic    59432   Diesel  125  57.6
10781   3 Series  2023  22572    Automatic    74120   Diesel  160  58.4

       engineSize  years_used  average_mileage_per_year
0             2.0          10               6706.800000
1             2.0           6               2471.166667
2             3.0           8               7849.250000
3             1.5           7               3810.857143
4             3.0          10               3955.400000
...           ...         ...                       ...
10777         2.0           8               5368.375000
10778         2.0           7               3638.285714
10779         2.0          10               4500.000000
10780         2.0           7               8490.285714
10781         2.0           1              74120.000000

[10782 rows x 11 columns]